# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyTorch/Deep Learning
check_points/
*.pth
*.ckpt
*.pwf

# Datasets
dataset_path/
data/
*.png
*.jpg
*.jpeg
*.gif
*.bmp

# Logs
*.log
runs/

# Results & Submissions
submission.txt
*.zip
*.csv

# OS & Editors
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore
